__pycache__/
.streamlit/*
csvs/
documents/
images/
paperwork/
procedural_guide/
questions_about_legal_issues/
.env
05-Pinecone.ipynb
11-Korean-Tokenizer-Tutorial.ipynb
ask_questions_rerank.py
CSVLoader_old.py
CSVLoader.py
git_command_after_install.txt
langchain_test.py
requirements_total.txt
streamlit_app.py
index.html